[Unit]
Description=Anya Polkadot Bootnode
MemoryHigh=7400M
MemoryMax=7500M

[Service]
ExecStart=polkadot --name=anya-parachain-bootnode --base-path=/parachain-bn \
--node-key-file={{ node_id }} --chain=rococo \
--listen-addr=/ip4/0.0.0.0/tcp/30334 \
--public-addr=/ip4/{{ ansible_host }}/tcp/30334 \
--in-peers=50 --out-peers=50 \
--prometheus-external --prometheus-port=9615 \
--ws-port=8844 --rpc-port=8833 \
-- \
--chain=kusama --base-path=/relaychain-bn \
--listen-addr=/ip4/0.0.0.0/tcp/30333 \
--public-addr=/ip4/{{ ansible_host }}/tcp/30333 \
--in-peers=50 --out-peers=50 \
--pruning=1000 --unsafe-pruning \
--prometheus-external --prometheus-port=9625 \
--ws-port=9944 --rpc-port=9933 \


Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target

